apiVersion: apps/v5
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
      spec:
        containers:
        - name: nginx-app
          image: nginx:1.18
          ports:
          - containerPort: 80


